.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.logo-text{
  width: 100px;

}
.bi{
  margin-right: 10px;
}
.story{
  height: 100px;
}
.dp{
  height: 20px;
  margin:5px 5px 0px 0px;
}
.image{
  width: 400px;
  

}

.suggetion h5{
  font-size: 60px;
}
.suggestions .dp{
  margin-top: 0px !important;
}
.story-dp{
  width: 80px;
  height: 80px;
  border: 3px solid white;
}

.gradient-border {
width: 85px;
height: 85px;
display: flex;
align-items: center;
justify-content: center;
border-radius:50%;
background:linear-gradient(45deg, #ff00ff, #ff1900, #ffcc00);
}