.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.logo-text{
  width: 100px;

}
.bi{
  margin-right: 10px;
}
.story{
  height: 100px;
}
.dp{
  height: 38px;
  margin:5px 5px 0px 0px;
}

.story-container {
  width: 360px;        /* mobile story width */
  aspect-ratio: 9 / 16;
  background: black;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
}

.story-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.image{
  width: 400px;
  

}

.suggetion h5{
  font-size: 60px;
}
.suggestions .dp{
  margin-top: 0px !important;
}
.story-dp{
  width: 80px;
  height: 80px;
  border: 3px solid white;
}

.gradient-border {
width: 85px;
height: 85px;
display: flex;
align-items: center;
justify-content: center;
border-radius:50%;
background:linear-gradient(45deg, #ff00ff, #ff1900, #ffcc00);
}